---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import contact from '../assets/H5.jpg';
import bre from '../assets/bre.jpg';
import newHouse3 from '../assets/newHouse3.jpeg';
import newHouse6 from '../assets/newHouse6.jpeg';
import newHouse8 from '../assets/newHouse8.jpeg';
import newy6 from '../assets/newy6.jpg';
import newy7 from '../assets/newy7.jpg';
import newy8 from '../assets/newy8.jpg';
import newy9 from '../assets/newy9.jpg';
import newy10 from '../assets/newy10.jpg';

const pageTitle = "Utforsk våre prosjekter - NT Bolig | pågående og ferdigstilte byggeprosjekter";
const pageDescription = "Se NT Boligs imponerende portefølje av pågående og ferdigstilte byggeprosjekter. Fra moderne eneboliger til nøkkelferdige løsninger, oppdag hvordan vi bringer innovasjon og kvalitet til hver eiendomsutvikling.";
---

<Layout title={pageTitle} description={pageDescription}>
	<Header position="absolute"/>
	<main>
        <Image src={newy6} class="logos" alt="" loading="eager" />
        <div class="overlay-text">
            <h2>Prosjekter</h2>
            <h4>Pågående prosjekter i NT Bolig</h4>
        </div>
        <h4 class="quality">Vi leverer kvalitet!</h4>
        <div class="intro-text">
            <p>
                NT Bolig har god erfaring med alt innen eiendomsutvikling, og vårt team hjelper deg med å skreddersy din bolig til dine ønsker. Her ser du noen av våre ferdigstilte og pågående prosjekter, som kan gi deg inspirasjon til hva vi kan hjelpe deg med.
            </p>
        </div>
        <h3>Referanse prosjekter</h3>
        <div class="image-grid">
            <div class="image-item">
                <a href={newy8.src} aria-label="Image link to 4 eneboliger på Asker">
                    <Image src={newy8} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>2 arkitekttegnede eneboliger i Nittedal</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newy9.src} aria-label="Image link to 4 eneboliger på Asker">
                    <Image src={newy9} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>2 arkitekttegnede eneboliger i Nittedal</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newy10.src} aria-label="Image link to 4 eneboliger på Asker">
                    <Image src={newy10} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>2 arkitekttegnede eneboliger i Nittedal</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={bre} alt="" loading="eager" />
                <div class="image-text">
                    <h3>4 moderne eneboliger</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={newHouse3} alt="" loading="eager" />
                <div class="image-text">
                    <h3>40 moderne rekkehus i Eidsvoll</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={newHouse6} alt="" loading="eager" />
                <div class="image-text">
                    <h3>2 arkitekttegnede eneboliger på Vinderen</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={newHouse8} alt="" loading="eager" />
                <div class="image-text">
                    <h3>40 moderne rekkehus på Eidsvoll</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newy6.src} aria-label="Image link to 4 eneboliger på Asker">
                    <Image src={newy6} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>2 tomannsbolig på Prinsdal</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newy7.src} aria-label="Image link to 4 eneboliger på Asker">
                    <Image src={newy7} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>2 tomannsbolig på Prinsdal</h3>
                </div>
            </div>
        </div>
        <div class="contact-us">
            <div class="contacting">
                <Image src={contact} alt="contact us section" loading="eager" />
            </div>
            <a href="/kontakt-oss">
                <button>Kontakt oss for befaring</button>
            </a>
        </div>
	</main>
   <Footer/>
</Layout>

<style>

    :root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}

    main {
        height: auto;
        padding-bottom: 2em;
        position: relative;
        background-color: var(--bg-color);
    }

    .contact-us {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 80px;
    }

    .contacting {
        position: relative;
        width: 100%;
        padding-bottom: 12px;
    }

    .contacting img {
        width: 100%;
        height: 250px;
        object-fit: cover;
        filter: brightness(0.4);
    }
    
    .quality {
        font-size: 2.2em;
        text-align: center;
        font-weight: 700;
        color: white;
        padding: 6px;
    }

    h4 {
        font-weight: 500;
    }

    h3 {
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        color: white;
    }


	button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Adjust the button's position */
		border: 2px solid white;
		padding: 10px;
		background-color: transparent;
		color: white;
        width: 300px;
		font-size: 1.3rem;
		cursor: pointer;
		border-radius: 8px;
	}

	button:hover {
		background: whitesmoke;
        color: black;
	}

    @media (max-width: 480px) {
        button {
            width: 200px;
            font-size: 1rem;
        }
    }

    .logos {
        width: 100%;
        height: 600px;
        object-fit: cover;
        filter: brightness(0.6);
    }

    .overlay-text {
        position: absolute;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2em;
        text-align: center;
    }

    .intro-text {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 8px 8px 40px 8px;
        box-sizing: border-box;
        color: white;
        font-family: "Roboto", sans-serif;
        text-align: center;
        font-size: 1.3em;
}

    @media (max-width: 768px) {
        .intro-text {
            font-size: 1em;
            line-height: 22px;
        }

        .overlay-text {
            top: 6%;
        }
    }

    .image-grid {
        display: grid;
        grid-gap: 20px;
        padding: 40px;
    }
    
    .image-item {
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;
    }

    .image-grid .image-item {
        height: 300px;
    }

    .image-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--bg-color-light);
        padding: 6px;
    }

    .image-text h3 {
        margin: 0 0 16px 0;
        font-size: 1.15rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }


    .image-grid img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
    }

    @media (min-width: 1025px) {
        .image-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 1024px) {
        .image-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 480px) {
        .image-grid {
            grid-template-columns: 1fr;
        }
    }

</style>
