---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import kjokken from '../assets/kjokken-cover.jpg.webp';
import garderobe from '../assets/garderobe-cover.webp';
import arkitekt from '../assets/arkitekt.webp';
import newHouse3 from '../assets/newHouse3.jpeg';

const pageTitle = "Omfattende byggetjenester hos NT Bolig - fra prosjektering til nøkkelferdige løsninger"
const pageDescription = "Opplev spektret av byggetjenester med NT Bolig: Arkitektbistand, prosjektering, byggeledelse, og mer. Vi transformerer tomter til skreddersydde, nøkkelferdige bygg. Din partner gjennom hele byggeprosessen - fra idé til realisering."

---

<Layout title={pageTitle} description={pageDescription}>
    <Header backgroundColor="#27272f" border="none"/>
    <main>
        <div class="wrapper">
            <div class="tjenester">
                <h1>Tjenester</h1>
                <ul>
                    <li>Salg av elementhus</li>
                    <li>Arkitektbistand</li>
                    <li>Prosjekteringstjenester</li>
                    <li>Bygge og prosjektledelse</li>
                </ul>
            </div>
        </div>
        <div class="arkitekt">
            <div class="img-wrapper-1">
                <Image src={newHouse3} alt="" loading="eager" />
            </div>
            <div class="inner-arkitekt">
              <h2 class="bistand">Fra råtomt til nøkkelferdig bygg</h2>
              <p class="bizzy">Fra en ide til et hjem, vi er med på hele reisen. Vi tilbyr tjenester med å forvandle råtomt til strøkne, nøkkelferdige bygg. </p>
            </div>
        </div>
        <p></p>
        <div class="arkitekt">
            <div class="inner-arkitekt">
              <h2 class="bistand">Arkitekt-bistand</h2>
              <p class="bizzy">Arkitekt tjenester eller tilpassing av våre/deres modeller? Vi visualiserer, tegner, prosjekterer, kalkulerer, sender byggesøknader og mye mer. Vi skaper drømmer og tilbyr det som kunden ønsker. Alltid!</p>
            </div>
            <div class="img-wrapper-2">
                <Image src={arkitekt} alt="" loading="eager" />
            </div>
        </div>
        <p></p>
        <p></p>
        <div>
            <h2>Kjøkken og garderobe</h2>
            <p>I tillegg til salg av elementhus, tilbyr vi også tilpassede løsninger innen kjøkken og garderobe. Vi skreddersyr kjøkken etter ditt behov og ditt hjem. Vi jobber sammen for å finne den fineste løsningen til ditt hjem. Les mer om dette</p>
        </div>
        <div class="image-wrapper">
            <div class="image-item">
                <a href="/kjokken">
                    <Image src={kjokken} alt="" loading="eager" />
                    <div class="image-text">
                        <button class="btn">Kjøkken</button>
                    </div>
                </a>
            </div>
            <div class="image-item">
                <a href="/garderobe">
                    <Image src={garderobe} alt="" loading="eager" />
                    <div class="image-text">
                        <button class="btn">Garderobe</button>
                    </div>
                </a>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<style>

    :root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}

    main {
        font-size: 22px;
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 40px 18px 18px 18px;
        min-height: 100vh;
        background-color: var(--bg-color);
    }

    .arkitekt {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: var(--bg-color-light);
        border-radius: 8px;
        width: 100%;
    }

    @media (max-width: 1070px) {
        .arkitekt {
            flex-direction: column;
            font-size: 1.2em;
        }
        .arkitekt div {
            order: 1;
        }
        .arkitekt img {
            order: 2;
            width: 500px !important;
        }    
    }

    @media (max-width: 615px) {
        .arkitekt img {
            width: 93% !important;
        }
    }

    @media (min-width: 900px) {
        .arkitekt img {
            width: 600px !important;
            height: auto;
            padding: 8px;
        }
    }

    .img-wrapper-3 {
		transform: skewX(-5deg);
    }

    .img-wrapper-2 {
        transform: skewX(5deg);
    }


    .arkitekt img {
        width: 100%;
        height: auto;
        padding: 8px;
    }

    .bistand {
        color: white;
        font-weight: 700;
    }

    .bizzy {
        text-align: left;
        max-width: 600px;
        margin-left: 100px;
        color: white;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin: 0 auto;
        padding: 20px;
    }

    .image-item {
        position: relative;
        width: 700px;
        height: 550px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .image-item img {
        width: 100%;
        height: auto;
        object-fit: cover;
        filter: brightness(0.6);
        border-radius: 8px;
    }

    a {
        text-decoration: none;
        z-index: 1;
        position: absolute;
    }
    
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    p {
        padding: 20px 20px 40px 20px;
        font-size: 20px;
        text-align: center;
        color: white;
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.6;
    }

    h1 {
        margin-left: 40px;
        padding-top: 40px;
    }

    h2 {
        padding: 8px;
        color: #b7a388;
        font-weight: 500;
        text-align: center;
    }

    h4 {
        color: white;
        font-weight: 500;
        text-align: center;
    }

    .tjenester {
        display: flex;
        background-color: #b7a388;
        color: black;
        width: 700px;
        border-radius: 50px;
        padding: 8px;
        margin: 8px;
    }

    .btn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    @media (max-width: 900px) {

        .image-wrapper {
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .image-item {
            width: 500px;
            height: 400px;
        }
    }

    @media (max-width: 530px) {
        .image-item {
            width: 350px;
            height: 200px;
        }

        .bizzy {
            margin: 0;
        }
    }

    @media (max-width: 370px) {
        .image-item {
            width: 250px;
            height: 150px;
        }
    }


    @media (max-width: 500px) {
        .wrapper {
            padding-top: 50px;
        }

        .tjenester {
            display: block;
            width: 100%;
            padding: 8px;
        }

        h1 {
            padding-top: 0;
        }
    }

    li {
        font-size: 18px;
        line-height: 30px;
    }

    .image-text {
        display: flex;
        justify-content: center;
    }

    button {
        border: 1px solid rgb(235, 235, 245);
		padding: 8px;
		background-color: transparent;
		color: white;
		font-size: 1.4rem;
		cursor: pointer;
		border-radius: 8px;
        width: 130px;
	}

	button:hover {
		background: #b7a388;
        color: black;
	}
    
</style>
