---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import { Image } from 'astro:assets';
import garderobe from '../assets/Gallery-15.jpg';
import garderobe1 from '../assets/Gallery-1.jpg';
import garderobe2 from '../assets/Gallery-5.jpg';
import garderobe3 from '../assets/Gallery-10.jpg';
import halden4 from '../assets/halden4.jpg';
import halden5 from '../assets/halden5.jpg';
import halden6 from '../assets/halden6.jpg';
import contact from '../assets/H5.jpg';

---

<Layout title="NT Bolig - Kontakt oss">
	<Header position="absolute"/>
	<main>
        <Image src={garderobe} class="logos" alt="header logo" loading="eager"/>
        <div class="overlay-text">
            <h2>Våre garderober</h2>
            <h4>Skreddersydd til ditt hjem</h4>
        </div>
        <div class="intro-text">
            <p>Vi har gleden av å tilby høykvalitets skyvedørsgarderober.</p>
            <p>Selskapet har opparbeidet omfattende erfaring innen design, produksjon og service av spesialtilpassede interiørløsninger. Høy kvalitet i produktene og unike digitale designerverktøy gjør det enkelt å komme i mål med kundes ønsker.</p>
            <p>Vi vil gi faglige råd og levere kjøkken av god kvalitet. Bransjestandard er 16 mm på skrog og fronter, mens vår minimumsstandard er 18 mm hardpresset laminat.</p>
        </div>
        <h3>Referanse prosjekter</h3>
        <div class="image-grid">
            <div class="image-item">
                <Image src={garderobe1} alt="" loading="eager" />
                <div class="image-text">
                    <h3>Enebolig på Ellingsrud - Friske farger med praktiske løsninger gjorde at kunden ble fornøyd.</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={garderobe2} alt="" loading="eager" />
                <div class="image-text">
                    <h3>Lorem ipsum dolor sit amet</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={garderobe3} alt="" loading="eager" />
                <div class="image-text">
                    <h3>Lorem ipsum dolor sit amet</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={halden4} alt="" loading="eager" />
                <div class="image-text">
                    <h3>Lorem ipsum dolor sit amet</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={halden5} alt="" loading="eager" />
                <div class="image-text">
                    <h3>Lorem ipsum dolor sit amet</h3>
                </div>
            </div>
            <div class="image-item">
                <Image src={halden6} alt="" loading="eager" />
                <div class="image-text">
                    <h3>Lorem ipsum dolor sit amet</h3>
                </div>
            </div>
        </div>
        <div class="contact-us">
            <div class="contacting">
                <Image src={contact} alt="contact us section" loading="lazy" />
            </div>
            <a href="/kontakt-oss">
                <button>Kontakt oss for befaring</button>
            </a>
        </div>
	</main>
   <Footer/>
</Layout>

<style>

    :root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}
    main {
        height: auto;
        padding-bottom: 2em;
        position: relative;
        background-color: var(--bg-color);
    }

    .contact-us {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
}

    .contacting {
        position: relative;
        width: 100%;
        padding-bottom: 12px;
    }

    .contacting img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        filter: brightness(0.4);
    }

    h4 {
        font-weight: 500;
    }

    h3 {
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        color: white;
    }

    button {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); /* Adjust the button's position */
		border: 2px solid white;
		padding: 10px;
		background-color: transparent;
		color: white;
        width: 300px;
		font-size: 1.3rem;
		cursor: pointer;
		border-radius: 8px;
	}

	button:hover {
		background: whitesmoke;
        color: black;
	}

    @media (max-width: 480px) {
        button {
            width: 200px;
            font-size: 1rem;
        }
    }

    .logos {
        width: 100%;
        height: 600px;
        object-fit: cover;
        filter: brightness(0.4);
    }

    .overlay-text {
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2em;
        text-align: center;
    }

    .intro-text {
        position: relative;
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        padding: 30px 20px;
        box-sizing: border-box;
        color: white;
        line-height: 26px;
        font-family: "Roboto", sans-serif;
}

    @media (max-width: 768px) {
        .intro-text {
            font-size: 1em;
            line-height: 22px;
        }
    }

    .image-grid {
        display: grid;
        grid-gap: 20px;
        padding: 40px;
    }
    .image-item {
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;
    }

    .image-text {
        position: absolute;
        left: 0;
        right: 0;
        background-color: var(--bg-color-light);
        padding: 4px;
    }

    .image-text h3 {
        margin: 0 0 16px 0;
        font-size: 1.15rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .image-grid img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
    }

    @media (min-width: 1025px) {
        .image-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 1024px) {
        .image-grid {
            grid-template-columns: repeat(2, 1fr);
            padding: 30px;
        }
    }
    @media (max-width: 480px) {
        .image-grid {
            grid-template-columns: 1fr;
            padding: 30px;
        }

        .overlay-text {
            top: 10%;
        }

    }

</style>
