---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import snaroya1 from '../assets/snaroya1.jpg';
import halden1 from '../assets/halden1.jpg';
import halden5 from '../assets/halden5.jpg';
import vegg from '../assets/vgg.png';
import takElement from '../assets/tak-element.png';
import trap from '../assets/trap.png';
import transp from '../assets/transp.png';
import assembling from '../assets/assembling.png';
import prosjektering from '../assets/prosjektering.png';
import prod from '../assets/prod.png';
import reiser from '../assets/reiser.png';
import bjelke from '../assets/bjelke.png';
import balkong from '../assets/balkong.png';
import elementsett from '../assets/elementsett.png';
import Accordion from '../components/Accordion.astro';
import newHouse2 from '../assets/newHouse2.jpeg';
import newHouse3 from '../assets/newHouse3.jpeg';
import newHouse6 from '../assets/newHouse6.jpeg';
import newHouse7 from '../assets/newHouse7.jpeg';
import newHouse8 from '../assets/newHouse8.jpeg';
import bre from '../assets/bre.jpg';

---

<Layout title="NT Bolig - Om oss">
	<Header position="absolute"/>
    <main>
        <Image src={halden5} class="logos" alt="" loading="eager" />
        <h1 class="headline">Vi er med på hele reisen</h1>
        <Image src={reiser} class="rezzy" alt="" loading="eager" />
        <div class="info">
            <div class="square dark">
                <div class="number">1</div>
                <Image src={prosjektering} alt="" loading="eager" />
                <div class="content">
                    <h2>Prosjektering</h2>
                    <p>Våre verktøy konstruerer våre/deres modeller automatisk i elementer</p>
                </div>
            </div>
            <div class="square light">
                <div class="number">2</div>
                <Image src={prod} alt="" loading="eager" />
                <div class="content">
                    <h2>Produksjon</h2>
                    <p>Vi ferdigstiller alle typer minihus og elementer i høyst mulig grad, før de pakkes inn tørre og klar til</p>
                </div>
            </div>
            <div class="square light">
                <div class="number">3</div>
                <Image src={transp} alt="" loading="eager" />
                <div class="content">
                    <h2>Transport</h2>
                    <p>Pakkede minihus og elementer heises på bil/båt, leveres prosjekter i hele Norge, til avtalt tid og sted. Vi har utstyret til både frakt og montasje. </p>
                </div>
            </div>
            <div class="square dark">
                <div class="number">4</div>
                <Image src={assembling} alt="" loading="eager" />
                <div class="content">
                    <h2>Montasje</h2>
                    <p>Byggeplassen klargjøres parallelt med produksjon. Elementer heises og festes på treramme i ringmurene. Vipps så er bygget montert og tett.</p>
                </div>
            </div>
        </div>
        <div class="overlay-text">
            <h2>Hus elementer</h2>
            <h4>Til store og små prosjekter - du kan regne med oss!</h4>
        </div>
        <h2 class="tit">Vi leverer alt fra A til Å</h2>
        <div class="image-row">
            <div class="image-items">
              <Image src={vegg} alt="" loading="lazy" />
              <p>Vegg element</p>
            </div>
            <div class="image-items">
                <Image src={takElement} alt="" loading="lazy" />
                <p>Tak element</p>
            </div>
            <div class="image-items">
                <Image src={bjelke} alt="" loading="lazy" />
                <p>Bjelkelag</p>
            </div>
            <div class="image-items">
                <Image src={balkong} alt="" loading="lazy" />
                <p>Balkong</p>
            </div>
            <div class="image-items">
              <Image src={trap} alt="" loading="lazy" />
              <p>Trapper</p>
            </div>
            <div class="image-items">
                <Image src={elementsett} alt="" loading="lazy" />
                <p>Elementsett</p>
            </div>
          </div>
        <h1>Elementhus levert fra NT Bolig</h1>
        <div class="image-grid">
            <div class="image-item">
                <a href={halden1.src} aria-label="Image link to 2 flotte eneboliger på Snarøya">
                    <Image src={halden1} alt="2 flotte eneboliger på Snarøya" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>2 flotte eneboliger på Snarøya</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={halden5.src} aria-label="Image link to overblikk av eneboligene på Snarøya">
                    <Image src={halden5} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>Overblikk av eneboligene på Snarøya</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={bre.src} aria-label="Image link to 4 moderne eneboliger på Stovner">
                    <Image src={bre} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>4 moderne eneboliger på Stovner</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newHouse2.src} aria-label="Image link to Endre rekkehus Slemmestad">
                    <Image src={newHouse2} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>Endre rekkehus Slemmestad</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newHouse8.src} aria-label="Image link to 40 moderne rekkehus på Eidsvoll">
                    <Image src={newHouse8} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>40 moderne rekkehus på Eidsvoll</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newHouse3.src} aria-label="Image link to Rekkehus på Eidsvoll">
                    <Image src={newHouse3} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>Rekkehus på Eidsvoll</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newHouse6.src} aria-label="Image link to 2 arkitekttegnede eneboliger på Vinderen">
                    <Image src={newHouse6} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>2 arkitekttegnede eneboliger på Vinderen</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={snaroya1.src} aria-label="Image link to Enebolig på Vinderen">
                    <Image src={snaroya1} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>Enebolig på Vinderen</h3>
                </div>
            </div>
            <div class="image-item">
                <a href={newHouse7.src} aria-label="Image link to 4 eneboliger på Asker">
                    <Image src={newHouse7} alt="" loading="eager" />
                </a>
                <div class="image-text">
                    <h3>4 eneboliger på Asker</h3>
                </div>
            </div>
        </div>
        <div>
            <Accordion/>
        </div>
    </main>
    <Footer/>
</Layout>

<style>

:root {
		--bg-color: #1c1c1c;
		--bg-color-light: #3b3b3b;
	}
    main {
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
		background-color: var(--bg-color);
    }

    .headline {
        font-size: 3.2em;
        font-weight: 700;
        color: #dfa555eb;
    }

    .rezzy {
        display: flex;
        width: 300px;
        height: 300px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    .info {
        display: flex;
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        padding: 40px;
    }

    .info img {
        width: 120px;
        height: 100px;
    }

    .square {
        position: relative;
        width: 605px;
        height: 330px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        border-radius: 10px;
    }

    .number {
        position: absolute;
        top: 10px;
        left: 10px;
        color: white;
        font-size: 1.2em;
        border-radius: 5px;
    }

    .dark {
        background-color: rgb(49, 45, 45);
        color: white;
    }

    .light {
        background-color: #dfa555eb;
        color: black;
    }

    .content {
        text-align: center;
    }

    .content h2 {
        font-size: 1.8em;
    }

    .content p {
        margin: 0;
        padding: 4px;
        line-height: 1.4em;
    }

    .logos {
        width: 100%;
        height: 600px;
        object-fit: cover;
        filter: brightness(0.6);
        padding: 0;
    }

    .overlay-text {
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 2em;
        text-align: center;
    }

    .tit {
        padding: 80px 0 20px;
        text-align: center;
        font-size: 2em;
        font-weight: 500;
        color: white;
    }

    .image-row {
        display: flex;
        justify-content: space-around;
        padding: 4px;
        color: white;
        background-color: #3b3b3b;
    }    

    .image-row img {
        width: 128px;
        height: 100px;
    }

    .image-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (max-width: 750px) {
    .image-row {
        flex-direction: column;
        align-items: center;
    }

    .image-row p {
        text-align: center; /* Center the text */
    }

    .image-row img {
        width: 150px;
        height: 120px;
    }
}

    h1 {
        padding-top: 4.5rem;
        text-align: center;
        color: white;
    }

    .image-grid {
        display: grid;
        grid-gap: 20px;
        padding: 40px;
    }
    .image-item {
        position: relative;
        overflow: hidden;
        padding-bottom: 50px;
    }

    .image-grid .image-item {
        height: 300px;
    }

    .image-text {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: var(--bg-color-light);
        padding: 6px;
    }

    .image-text h3 {
        margin: 0 0 16px 0;
        font-size: 1.15rem;
        color: rgb(255, 255, 255);
        text-align: center;
    }

    .image-grid img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        object-fit: cover;
    }

    @media (min-width: 1025px) {
        .image-grid {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media (max-width: 1024px) {
        .image-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }
    @media (max-width: 480px) {
        .image-grid {
            grid-template-columns: 1fr;
        }

        .overlay-text {
            top: 35%;
        }
    }
</style>
