---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import kjokken from '../assets/kjokken-cover.jpg.webp';
import garderobe from '../assets/garderobe-cover.webp';
import arkitekt from '../assets/arkitekt.webp';
import element from '../assets/element-bygg.jpeg';
import placeholder from '../assets/placeholder.jpg';
import Accordion from '../components/Accordion.astro';

---

<Layout title="NT Bolig - Kontakt oss">
    <Header backgroundColor="rgba(52, 56, 65, 1)"/>
    <main>
        <div class="wrapper">
            <div class="tjenester">
                <h1>Tjenester</h1>
                <ul>
                    <li>Salg av huselementer</li>
                    <li>Arkitektbistand</li>
                    <li>Prosjekteringstjenester</li>
                    <li>Bygge og prosjektledelse</li>
                    <li>Montering, graving og elektrisk arbeid</li>
                </ul>
            </div>
        </div>
        <div class="arkitekt">
            <div class="inner-arkitekt">
              <h2 class="bistand">Fra råbygg til nøkkelferdig bygg</h2>
              <p class="bizzy">Fra en ide til et hjem, vi er med på hele reisen. Vi tilbyr tjenester med å forvandle råbygg til strøkne, nøkkelferdige bygg. </p>
            </div>
            <div class="img-wrapper">
                <Image src={placeholder} alt="Klopp holding the trophy" loading="eager" />
            </div>
        </div>
        <p></p>
        <div class="arkitekt">
            <div class="img-wrapper">
                <Image src={arkitekt} alt="Klopp holding the trophy" loading="eager" />
            </div>
            <div class="inner-arkitekt">
              <h2 class="bistand">Arkitekt-bistand</h2>
              <p class="bizzy">Arkitekt tjenester eller tilpassing av våre/deres modeller? Vi visualiserer, tegner, prosjekterer, kalkulerer, sender byggesøknader og mye mer. Vi skaper drømmer og tilbyr det som kunden ønsker. Alltid!</p>
            </div>
        </div>
        <p></p>
        <div class="arkitekt">
            <div class="inner-arkitekt">
              <h2 class="bistand">Element bygg</h2>
              <p class="bizzy">Kun elementer, eller hele element bygg til prosjektene? Vi produserer og monterer alle typer bygg i elementer. Vegg, gulv, tak, balkong, trapp og andre behov. Se våre prosjekterte og produksjonsklare modeller, vi tilpasser også etter ønsket.</p>
            </div>
            <div class="img-wrapper">
                <Image src={element} alt="Klopp holding the trophy" loading="lazy" />
            </div>
        </div>
        <p></p>
        <div>
            <Accordion/>
        </div>
        <div>
            <h2>Kjøkken og garderobe</h2>
            <p>I tillegg til salg av huselementer, tilbyr vi også tilpassede løsninger innen kjøkken og garderobe. Vi skreddersyr kjøkken etter ditt behov og ditt hjem. Vi jobber sammen for å finne den fineste løsningen til ditt baderom. Les mer om dette</p>
        </div>
        <div class="image-wrapper">
            <div class="image-item">
                <a href="/kjokken">
                    <Image src={kjokken} alt="Klopp holding the trophy" loading="lazy" />
                    <div class="image-text">
                        <a href="/kjokken">
                            <button class="btn">Kjøkken</button>
                        </a>
                    </div>
                </a>
            </div>
            <div class="image-item">
                <a href="/garderobe">
                    <Image src={garderobe} alt="Klopp holding the trophy" loading="lazy" />
                    <div class="image-text">
                        <a href="/garderobe">
                            <button class="btn">Garderobe</button>
                        </a>                
                    </div>
                </a>
            </div>
        </div>
    </main>
    <Footer/>
</Layout>

<style>
    :global(body) {
        background-color: whitesmoke;
    }

    main {
        font-size: 22px;
        font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        padding: 40px;
        min-height: 100vh;
    }

    .arkitekt {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        background-color: rgb(236, 233, 233);
        border-radius: 8px;
        width: 100%;
    }


    @media (max-width: 1070px) {
        .arkitekt {
            flex-direction: column;
            font-size: 1.2em;
        }
        .arkitekt div {
            order: 1;
        }
        .arkitekt img {
            order: 2;
            width: 500px !important;
        }
    
    }

    @media (max-width: 615px) {
        .arkitekt img {
            width: 93% !important;
        }
    }

    @media (min-width: 900px) {
        .arkitekt img {
            width: 600px !important;
            height: auto;
            padding: 8px;
        }
    }


    .arkitekt img {
        width: 100%;
        height: auto;
        padding: 8px;
    }

    .bistand {
        color: rgba(52, 56, 65, 1);
        font-weight: 700;
    }

    .bizzy {
        text-align: left;
        max-width: 600px;
        margin-left: 100px;
    }

    .image-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .image-item {
        position: relative;
        width: 700px;
        height: 550px;
        padding-bottom: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 10px;
    }

    .image-item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: brightness(0.6);
        border-radius: 8px;
    }

    a {
        text-decoration: none;
        z-index: 1;
        position: absolute;
    }
    
    .wrapper {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        width: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    p {
        padding: 20px 20px 40px 20px;
        font-size: 20px;
        text-align: center;
        color: rgba(52, 56, 65, 0.773);
        max-width: 800px;
        margin: 0 auto;
        line-height: 1.6;
    }

    h1 {
        margin-left: 40px;
        padding-top: 40px;
    }

    h2 {
        padding: 8px;
        color: rgba(52, 56, 65, 1);
        font-weight: 500;
        text-align: center;
    }

    h4 {
        color: rgba(52, 56, 65, 1);
        font-weight: 500;
        text-align: center;
    }

    .tjenester {
        display: flex;
        background-color: rgb(66, 82, 118);
        color: rgb(247, 244, 244);
        width: 700px;
        border-radius: 50px;
        padding: 8px;
        margin: 8px;
    }

    @media (max-width: 900px) {

        .image-wrapper {
            display: grid;
            justify-content: center;
            align-items: center;
            gap: 20px;
        }
        .image-item {
            width: 500px;
            height: 400px;
        }
    }

    @media (max-width: 530px) {
        .image-item {
            width: 350px;
            height: 200px;
        }
    }

    @media (max-width: 370px) {
        .image-item {
            width: 250px;
            height: 150px;
        }
    }


    @media (max-width: 500px) {
        .wrapper {
            padding-top: 50px;
        }

        .tjenester {
            display: block;
            width: 100%;
            padding: 8px;
        }

        h1 {
            padding-top: 0;
        }
    }

    li {
        font-size: 18px;
        line-height: 30px;
    }

    .image-text {
        display: flex;
        justify-content: center;
    }

    button {
        border: 1px solid rgb(235, 235, 245);
		padding: 8px;
		background-color: transparent;
		color: white;
		font-size: 1.4rem;
		cursor: pointer;
		border-radius: 10px;
        width: 130px;
	}

	button:hover {
		background: white;
        color: black;
	}
    
</style>
